@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
}

:root {
  --oq-color: #fff;
  --blue-color: #335eea;
  --p-color: #869AB8;
  --grey-color: #5068A9;
  --box-shadow: .0177rem .0155rem 3rem .1rem rgba(51, 94, 234, .1)
;
  --tran-1: .2s ease;
}

html {
  width: 100%;
  font-size: 85%;
}

html body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
body.hidden {
  overflow: hidden;
}

html body .container {
  width: 83%;
  margin: 0 auto;
}

html body img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
ul li {
  list-style: none;
}
h2 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3rem;

}
button {
  background-color: var(--blue-color);
  padding: 1rem 1.2rem;
  border: none;
  border-radius: .2rem;
  font-size: 1.2rem;
  color: var(--oq-color);
  font-weight: 550;
  transition: .5s ease-in-out transform;
  cursor: pointer;
}
button:hover {
  transform:translateY(-.7rem);
  box-shadow: var(--box-shadow);
}
p {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 2rem;
  font-weight: 500;

}

header {
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
nav .logo {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--blue-color)
}
nav ul {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
nav ul li {
  color: #50669E;
  font-weight: 550;
  font-size: 1.2rem;
  position: relative;
  padding: 1rem 2rem;
  padding-bottom: 1rem;
}
nav ul li.li-btn {
  display: none;
}
nav ul li.x {
  display: none;
}
nav ul li .list {
  position: absolute;
  top: -20.4rem;
  background: var(--oq-color);
  box-shadow:var(--box-shadow);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 12rem;
  height: 12rem;
  font-weight: 500;
  transform: var(--tran-1);
}
nav ul li .list.top {
  top: 3.4rem;
}
nav ul li .list p:hover {
  color: var(--blue-color);
}
nav .bars {
  display: none;
}

header .showcae {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 0;
  gap: 1rem;
}

.showcae .image {
  width: 50%;
}
.showcae .text {
  width: 50%;
}
.showcae .text h1 {
  font-weight: 500;
  font-size: 3rem;
  color: #333;
  padding: 1rem 0;
}
.showcae .text h1  span {
  color: var(--blue-color)
}
.showcae .text p {
  width: 27rem;
  color: #8A9CB8;
}

.showcae .text button {
  margin: 2rem 0;
}
.showcae .text .doc {
  background-color: #EAEFFD;
  color: #335eea;
  margin-left: 1rem;
}



/* Build section */

section#built {
  width: 100%;
  height: 100%;
}
section#built .built {
  display: flex;
  width: 100%;
  padding: 3rem 0;
  gap: 2rem;
}

.built .box {
  padding: 1rem 0;
}
.built .box i {
  font-size: 3rem;
  color: #335eea;
  margin-bottom: 1.7rem;
}
.built .box h4 {
  font-size: 1.7rem;
  font-weight: 700;
}
.built .box p {
  font-size: 1.5rem;
  color: #869AB8;
  margin-top: 1.7rem;
}

/* section partner */
section#partner {
  width: 100%;
  height: 100%;
  border-top: .1rem solid #d1d5da;
  padding: 2rem 0;

}
.partner {
  display: grid;
  grid-template-areas:
  "1 2 3 4 5 6"
  ;
  gap: 4rem;
  padding: 2rem 0;
  justify-content: space-between;
}
.partner .box {
  /* width: 7rem; */
  height: 3rem;
  background-color: #fff;
}
.partner .box:nth-child(1) {
  grid-area: "1";
}
.partner .box:nth-child(2) {
  grid-area: "2";
}
.partner .box:nth-child(3) {
  grid-area: "3";
}
.partner .box:nth-child(4) {
  grid-area: "4";
}
.partner .box:nth-child(5) {
  grid-area: "5";
}
.partner .box:nth-child(6) {
  grid-area: "6";
}

main {
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  background: linear-gradient(#F9FBFD, #ffff);
  border-top: .1rem solid #d1d5da;
}

main .most {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
main .most .most-image {
  width: 50%;

}
main .most .most-image .box:hover {
  transform: translateY(-.7rem);
  box-shadow: .0177rem .0155rem 9rem .1rem rgba(51, 94, 234, .1)

}
main .most .most-image  .box {
  width: 26rem;
  display: flex;
  flex-direction: column;
  transition: transform .3s ease-in-out;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;

}
main .most .most-image .image {
  width: 26rem;
}
.most-image .image img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.most-image .input {
  background-color: #fff;
  padding: 2rem;
}
.most-image .input input {
  margin-top: 2rem;
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  border-bottom: .1rem solid #d1d5da;
  font-size: 1.2rem;
  padding-bottom: .3rem;
  
}
.most-image .input input.submit {
  margin-top: 2rem;
  width: 100%;
  height: 4rem;
  color: #fff;
  background-color: #42BA96;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}
main .most .most-text {
  width: 50%;
}
main .most .most-text h2 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3rem;
  padding-bottom: 1rem;
}
main .most .most-text h2  span {
  color: #42BA96 ;
}
main .most .most-text p {
  color: #8A9CB8;
}
main .most .most-text  .grid {
  display: grid;
  grid-template-areas:
  "1 2"
  "3 4"
  ;
  padding: 2.5rem 0;
  gap: 1.3rem;
}
main .most .most-text  .grid .box {
  color: #42BA96;
  font-size: 1.3rem;
}
main .most .most-text  .grid .box i {
  margin-right: 1.2rem;
  background-color: #42ba9623;
  padding: .3rem;
  border-radius: 50%;
}


main .most .most-text {
  width: 50%;
}
main .have {
  display: flex;
  padding-top: 5rem;
  gap: 3rem;
}
main .have .have-text {
  width: 50%;
}
main .have .have-image {
  width: 50%;
}
main .have .have-text h2 {
  margin-bottom: 1rem;
}
main .have .have-text h2 span {
  color: #335eea;
}
main .have .have-text p {
  color: #8A9CB8;
}
main .have .have-text .box {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
main .have .have-text .box i {
  font-size: 3rem;
  color: #335eea;
  margin-right: 2rem;
}
main .have .have-text .box h4 {
  font-size: 1.4rem;
  font-weight: 500;
}
main .have .have-text .box p {
  font-size: 1.2rem;
}

main .have .have-image {
  width: 50%;
  position: relative;
}
main .have .have-image img {
  position: absolute;
  right: -14%;
  width: 100%;
  transform: skewY(1deg) rotateZ(7deg) rotateX(2deg);

  box-shadow: .0177rem .0155rem 9rem .1rem rgba(51, 94, 234, .3)


}











@media (max-width: 990px) {
  html {
    font-size: 75%;
  }
  nav ul {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    width: auto;
    height: 100%;
    background-color: var(--oq-color);
    flex-direction: column;
    border: .5px solid #888;
    display: none;
    transition: var(--tran-1);

  }
  nav ul.block {
    display: flex;
  }
  nav ul li {
    border-bottom: 1px solid var(--oq-color);
    margin-bottom: 1rem;
    transition: var(--tran-1);
    font-size: 2rem;
  }

  nav ul li:hover {
    border-bottom: 1px solid #333;
  }
  nav ul li .list {
    display: none;
  }
  nav button.gl.btn {
    display: none;
  }
  nav ul li.x {
    display: inline-block;
    font-size: 2.5rem;
    position: absolute;
    top: 3rem;
    color: #666;
    right: 3rem;
    border: none;
  }
  nav .bars {
    display: block;
    font-size: 2.3rem;
    margin-right: 3rem;
    color: #777;
  }
  nav button.btn.gl {
    display: none;
  }
  .partner {
    grid-template-areas:
    "1 2 3"
    "4 5 6"
    ;
    gap: 3rem;
    justify-content: space-around;

  }
  main .most .most-text  .grid {
    grid-template-areas:
    "1"
    "2"
    "3"
    "4"
    ;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .showcae {
    flex-direction: column-reverse;
    padding: 3rem 0;
    gap: 3rem;
    text-align: center;
  }
  .showcae .text {
    width: 100%;
  }
  .showcae .text p {
    width: 80%;
    align-content: center;
    margin: 0 auto;
  }
  .showcae .image {
    width: 100%;
  }
  .built {
    flex-direction: column;
  }
  .partner {
    grid-template-areas:
    "1 2"
    "3 4"
    "5 6"
    ;
    gap: 3rem;

  }
  main .most {
    flex-direction: column-reverse;
  }
  main .most .most-image {
    width: 90%;
    margin: 0 auto;

  }
  main .most .most-text {
    width: 90%;
    margin: 0 auto;
  }
  main .have {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
  main .have .have-image {
    width: 100%;
  }
  main .have .have-image img {
    position: relative;
    right: 0;
  }
  main .have .have-text {
    width: 100%;
  }
}


